// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #59dac3;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$dark: #1c1c1c;
$light: #3d3d3f;
$red-footer: #b6224f;
$blue-footer: #53c9eb;
$yellow-footer: #b6d546;
$teal-footer: #348393;
$light-grey-parag: #4d4d4d;
$site-light:#292929;
//social
$facebook: #365899;
$linkedin: #0077b5;
$twitter: #1da1f2;
$github: #f5f5f5;
$youtube: #ff0000;

